/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.left.fixed.logo {
  position: fixed;
  background-color: #fff;
  width: 35%;
  height: 150%;
  transform: rotate(7deg);
  left: -62px;
  top: -50px;
  z-index: 1;
}

.left.fixed.logo .heart.logo {
  width: 175px;
  height: 45px;
  position: relative;
  top: 25%;
  left: 45%;
  transform: rotate(-7deg);
}

section {
  height:100vh;
}

.push.right {
  width: calc(100% - 40%);
  margin-left: 40%;
}

section.home {
  text-align: center;
  /*height: 100vh;*/
}

section.home article {
  position: relative;
  height: 100%;
}

section.home article .middle {
  position: relative;
  top: calc(40% - 158px); /* 40% - half of the its height */
}

section.home footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

section.home .title:not(.sub) {
  color: #f17953;
  text-transform: uppercase;
  font-size: 37px;
  margin-top: 20px;
  margin-bottom: 40px;
}

section.home .sub.title {
  color: #3e4c68;
  font-style: italic;
  font-size: 18px;
  margin-bottom: -30px;
}

.top.chat.box, .bottom.chat.box {
  border: 4px solid #414f6a;
  width: 406px;
  margin: 0 auto;
}

.top.chat.box {
  border-bottom: none;
  height: 46px;
}

.bottom.chat.box {
  border-top: none;
  height: 86px;
}

img.chat.arrow {
  width: 17px;
  height: 24px;
  position: relative;
  top: -4px;
  left: 51px;
}

section.home .maybe.not, p.scroll.more {
  color: #3b4a65;
  margin: 50px 0;
  font-weight: bold;
}

section.home footer .scroll.more {
  top: -58px;
  min-width: 174px;
}

section.home footer .scroll.more, section.home footer .vertical.line, section.home footer .menu {
  display: inline-block;
}
section.home footer .scroll.more, section.home footer .menu {
  width: 25%;
  position: relative;
}

section.home footer .scroll.more .text, section.home footer .menu {
  color: #3b4a65;
}

section.home footer .scroll.more .icon {
  width: 12px;
  height: 37px;
  float: right;
}

section.introduction {
  background-color: #e75174;
  color: #fff;
  font-family: 'Merriweather', serif;
}

section.introduction article {
  line-height: 1.5;
  position: relative;
  top: 10%;
  top: calc(50% - 270px); /* 50% - half of its height */
}

section.introduction p {
  max-width: 630px;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 30px;
}

section.introduction p:first-child {
  margin-top: 0;
}

section.testimonials {
  background-color: #455c7b;
}

section.testimonials .push.right {
  height: 100vh;
}

section.testimonials article {
  width: 680px;
  margin: 0 auto;
  position: relative;
  top: 25%;
  text-align: center;
}

section.testimonials .testimonial {
  color: #fccf65;
  font-size: 25px;
  font-family: 'Merriweather', serif;
  max-width: 520px;
  display: inline-block;
  text-align: left;
  line-height: 1.5;
  max-height: 225px;
  overflow: scroll;
}

section.testimonials .testimonial:hover {
  cursor: all-scroll;
}

section.testimonials .testimonial .quotes {
  color: #fff;
}

.person {
  color: #fff;
  margin-top: 60px;
}

section.testimonials .person .avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #fff;
  height: 68px;
}

section.testimonials .person .info {
  display: inline-block;
  position: relative;
  top: -18px;
  left: 23px;
}

section.testimonials .person .info .name {
  font-weight: bold;
  font-size: 17px;
}

section.testimonials .person .info .bio {
  font-size: 14px;
  font-style: italic;
  margin-top: 12px;
}

section.testimonials .left.arrow, section.testimonials .right.arrow {
  width: 21px;
  display: inline-block;
  top: 25%;
  position: absolute;
  cursor: pointer;
}

section.testimonials .left.arrow:hover, section.testimonials .right.arrow:hover {
  opacity: 0.50;
}

section.testimonials .left.arrow {
  background-image: url('images/left-arrow.png');
  height: 61px;
  left: 0;
}

section.testimonials .right.arrow {
  background-image: url('images/right-arrow.png');
  height: 62px;
  right: 0;
}

section.testimonials .dots .dot {
  height: 9px;
  width: 9px;
  background-color: #3c3c3c;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

section.testimonials .dots .dot.current {
  background-color: #a2aebd;
}

section.informations {
  background-color: #fccf65;
  font-family: 'Merriweather', serif;
}

section.informations article {
  top: 25%;
  position: relative;
}

section.informations p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 30px;
  line-height: 1.5;
}

section.informations p:first-child {
  margin-top: 0;
}

section.informations article footer {
  text-align: center;
  margin-top: 50px;
}

img.cycles {
  height: 130px;
  width: 130px;
}

img.vilaj.logo {
  width: 226px;
  height: 72px;
}


/*section.informations article footer .place .vilaj.logo {
  margin-left: 190px;
  position: relative;
}*/

section.informations article footer .place {
  font-size: 14px;
  margin-left: 190px;
  display: inline-block;
  position: relative;
  top: -37px;
}

.hands.background {
  background-image: url('images/hands.jpg');
  opacity: 0.1;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

section.submission {
  background-color: #303237;
  color: #fff;
  position: relative;
}

section.submission article {
  max-width: 520px;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

section.submission header {
  font-weight: bold;
  font-size: 40px;
}

section.submission p {
  line-height: 1.5;
  font-family: 'Merriweather', serif;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}

section.submission form input[type="text"], section.submission form input[type="submit"] {
  padding: 0 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* don't overflow the parent's width */
  height: 75px;
  margin-bottom: 5px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  border-radius: 5px;
}

section.submission form input[type="submit"] {
  text-align: center;
  background-color: #fec827;
  opacity: 0.75;
  padding: 29.5px 0px;
  cursor: pointer;
}

section.submission form input[type="submit"]:hover {
  opacity: 1;
}

section.submission form input[type="submit"].success {
   background-color: #93bb4e;
   opacity: 1;
   color: #fff;
}

section.submission form input[type="submit"].error {
  background-color: #d95c5c;
  opacity: 1;
  color: #fff;
}

section.entrepreneurship {
  z-index: 1;
  position: relative;
  background-color: #fff;
}

section.entrepreneurship article {
  text-align: center;
  position: relative;
  top: 50%;
  top: calc(50% - 30px);
  font-weight: bold;
  color: #f17953;
}

section.entrepreneurship .bottom.chat.box {
  height: 14px;
}
